{{#draggable-object-target action="handleObjectDropped"}}
  <div class="object-bin-title">{{name}}</div>
  <br>
  {{#each model as |obj|}}
    {{#draggable-object action="handleObjectDragged" content=obj}}
      {{yield obj}}
    {{/draggable-object}}
  {{/each}}
{{/draggable-object-target}}
