<DraggableObjectTarget @action={{action "handleObjectDropped"}}>
  {{! this should be `@name` but this is not a valid path on Ember 2.16 }}
  <div class="object-bin-title">{{this.name}}</div>
  <br>
  {{#each this.model as |obj|}}
    <DraggableObject @action="handleObjectDragged" @content={{obj}}>
      {{yield obj}}
    </DraggableObject>
  {{/each}}
</DraggableObjectTarget>
