{{#draggable-object-target action="handleObjectDropped"}}
  <div class="object-bin-title">{{name}}</div>
  <br>

  {{#each model as |obj|}}
    {{#draggable-object content=obj action="handleObjectDragged"}}
      {{#with obj}}
        {{yield}}
      {{/with}}
    {{/draggable-object}}
  {{/each}}
{{/draggable-object-target}}
