html, body {
  margin: 20px;
}

#main {
  max-width: 1000px;
}

.author {
  font-size: 70%;
}

#posts {
  width: 300px;
  float: left;
}

#bin {
  width: 200px;
  float: left;
  margin-left: 30px;
}

.title {
  font-size: 125%;
}

.rated-cards {
  float: left;
  margin: 15px;
}

.all-cards {
  clear: both;
}

.object-bin-title {
  font-size: 140%;
  font-weight: bold;
/*
  border-style: solid;
  border-width: 10px;*/
}

#bin .object-bin-title {
  text-align: center;
}



#bin .draggable-object-bin {
  border-width: 1px;
  border-style: solid;
  border-color: #B8C0D6;
  padding: 15px;
}

body {
  font-size: 80%;
}

.draggable-object {
  padding-bottom: 2px;
}