<h2 id="title">Ember-Drag-Drop Add-on Examples</h2>
<h4> for the Ember addon <a href="https://github.com/mharris717/ember-drag-drop">https://github.com/mharris717/ember-drag-drop</a></h4>

<h3>Example Links</h3>
<ul>
  <li><LinkTo @route="simple">A simple Drag and Drop Example</LinkTo></li>
  <li><LinkTo @route="sort">A Simple Sorting Example with POJO</LinkTo></li>
  {{!-- Sorting with ember data will change across recent versions because of major changes in Ember data --}}
  {{!-- disabling this example for now until it can be fixed --}}
  {{!-- <li><LinkTo @route="sortdata">A Simple Sorting  with Ember Data</LinkTo></li> --}}
  <li><LinkTo @route="handle">Drag with a handle</LinkTo></li>
  <li><LinkTo @route="horizontal">Horizontal Lists</LinkTo></li>
  <li><LinkTo @route="multiple">Multiple Lists</LinkTo></li>
</ul>
<br><br>
{{outlet}}
