html, body {
  margin: 20px;
  font-size: 14px;
}

#main {
  max-width: 1000px;
}

.author {
  font-size: 70%;
}

#posts {
  width: 300px;
  float: left;
}

#bin {
  width: 200px;
  float: left;
  margin-left: 30px;
}

.title {
  font-size: 125%;
}

.author {
  font-size: 70%;
}

.rated-cards {
  float: left;
  margin: 15px;
}

.all-cards {
  clear: both;
}

.object-bin-title {
  font-size: 140%;
  font-weight: bold;
}

#bin .object-bin-title {
  text-align: center;
}

#bin .draggable-object-bin {
  border-width: 1px;
  border-style: solid;
  border-color: #B8C0D6;
  padding: 15px;
}

.draggable-object {
  padding-bottom: 2px;
}

.dropTarget {
  width: 300px;
  height: 100px;
  background-color: darkgray;
  color: white;
  line-height: 100px;
  text-align: center;
  font-size: 16px;
  padding: 1em;
}
.dropTarget.accepts-drag {
  background-color: cadetblue;
}
.dragObject {
  position: relative;
  margin-top: 100px;
  width: 300px;
  height: 100px;
  background-color: blueviolet;
  line-height: 100px;
  text-align: center;
  font-size: 16px;
  padding: 1em;
  color: white;
}
.sortObject {
  margin: 1em;
  width: 300px;
  height: 100px;
  background-color: blueviolet;
  line-height: 100px;
  text-align: center;
  font-size: 16px;
  padding: 1em;
  color: white;

}
.u-pullLeft {
  float: left;
}
.u-marginLeft {
  margin-left: 10%;
}
.u-fullBlock {
  display: inline-block;
  width: 100%;
}
.u-halfBlock {
  display: inline-block;
  width: 50%;
}

.dragHandle {
  display: inline-block;
  position: absolute;
  top: 1em;
  right: 1em;
  width: 1.5em;
  height: 1.5em;
  background-color: #fff;
  border: 1px solid #333;
  cursor: move;
}
