.grid{
  text-align: center;
  .block{
    display: inline-block;
    vertical-align: top;
    width: 49%;
    min-width: 320px;
    text-align: left;
    padding: 0 15px 30px;
    word-break: break-all;
    box-sizing: border-box;
    border-left: 2px solid $core-colour;
    background: lighten($core-colour, 7%);
    margin-bottom: 20px;
    &.center{
      text-align: center;
    }
    & > h4{
      border-bottom: 1px solid $core-colour;
      padding: 0.8em;
      margin: 0;
    }
  }
}