<h1>ember-drag-drop - Examples</h1>
<h2><a href="https://github.com/mharris717/ember-drag-drop">https://github.com/mharris717/ember-drag-drop</a></h2>

<ul class="nav">
  <li>{{#link-to 'simple'}}A simple Drag and Drop Example{{/link-to}}</li>
  <li>{{#link-to 'sort'}}A Simple Sorting Example with POJO{{/link-to}}</li>
  <li>{{#link-to 'sortdata'}}A Simple Sorting  with Ember Data{{/link-to}}</li>
  <li>{{#link-to 'handle'}}Drag with a handle{{/link-to}}</li>
  <li>{{#link-to 'nesteddata'}}Nested Sorting with Ember Data{{/link-to}}</li>
</ul>

{{outlet}}
