<h2 id="title">Ember-Drag-Drop Add-on Examples</h2>
<h4> for the Ember addon <a href="https://github.com/mharris717/ember-drag-drop">https://github.com/mharris717/ember-drag-drop</a></h4>

<h3>Example Links</h3>
<ul>
  <li>{{#link-to 'simple'}}A simple Drag and Drop Example{{/link-to}}</li>
  <li>{{#link-to 'sort'}}A Simple Sorting Example with POJO{{/link-to}}</li>
  <li>{{#link-to 'sortdata'}}A Simple Sorting  with Ember Data{{/link-to}}</li>
  <li>{{#link-to 'handle'}}Drag with a handle{{/link-to}}</li>
</ul>
<br><br>
{{outlet}}
